@media (min-width: 768px) {
  .site-layout {
    margin-left: 10% !important;

  }

  .mobile-logo {
    display: none;
  }

  .site-layout-request {
    margin-left: 10% !important;
    padding: 0 10%;
  }
}

@media (max-width: 768px) {

  .site-layout-request {
    margin-left: 0;
    padding: 0 5%;
  }

}

.breadcrumb-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumb-icon {
  margin-left: 8px; /* Space between text and icon */
}